<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">
</head>
<body>
<header th:insert="fragments/header"></header>

<main>
    <div class="container">
        <h3 class="center">Edit teacher</h3>
        <br>
        <div class="row">
            <div class="section col s12 l6 offset-l3">
                <form action="#" method="post"
                      th:object="${teacher}"
                      th:action="@{/teachers/update/{teacherId} (teacherId=${teacher.teacherId})}"
                >

                    <div class="input-field">
                        <label for="teacherName">Name</label>
                        <input type="text" class="class-controller"
                               id="teacherName"
                               th:field="*{teacherName}" autofocus required
                        >
                    </div>

                    <div class="input-field">
                        <label for="teacherSurname">Surname</label>
                        <input type="text" class="class-controller"
                               id="teacherSurname"
                               th:field="*{teacherSurname}" required
                        >
                    </div>

                    <div class="input-field">
                        <label for="teacherEmail">Email</label>
                        <input type="text" class="class-controller"
                               id="teacherEmail"
                               th:field="*{teacherEmail}" required
                        >
                    </div>

                    <div class="input-field">
                        <label for="teacherDescription">Description</label>
                        <input type="text" class="class-controller"
                               id="teacherDescription"
                               th:field="*{teacherDescription}" required
                        >
                    </div>

                    <div class="input-field">
                        <label for="imgUrl">Image URL</label>
                        <input type="text" class="class-controller" id="imgUrl" th:field="*{imgUrl}" required>
                    </div>

                    <button type="submit" class="btn">Edit teacher</button>
                    <a th:href="|/teachers/${teacher.teacherId}|" class="btn red lighten-1">Back</a>
                </form>
            </div>
        </div>
    </div>
</main>
<br><br>

<footer class="page-footer teal" th:insert="fragments/footer">
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
</body>
</html>