<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">
</head>

<body>
<header th:insert="fragments/header">
</header>

<main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text">teachers</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Be part of our great staff of teachers</h5>
                </div>
                <br>
                <div class="row center">
                    <a th:href="@{/teachers/add}" class="waves-effect waves-light btn-large">Join us</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="/img/docentes.jpg" alt="Unsplash teachers background"></div>
    </div>
    <div class="section">
        <div th:switch="teachers" class="container">
            <div th:case="*" class="row">
                <div class="col s12 center">
                    <h4>teacher List</h4>
                    <br>
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="teacher : ${teachers}">

                            <th scope="row" th:text="${teacher.teacherId}"></th>
                            <td th:text="${teacher.teacherName}"></td>
                            <td th:text="${teacher.teacherSurname}"></td>
                            <td th:text="${teacher.teacherEmail}"></td>
                            <td th:text="${teacher.teacherDescription}"></td>

                            <td sec:authorize="hasRole('ROLE_USER')">
                                <div>
                                    <span>
                                    <a class="btn-floating waves-effect waves-light btn-small"
                                       th:href="|/teachers/${teacher.teacherId}|"><i
                                            class="material-icons">chevron_right
                                    </i></a>
                                    </span>
                                    <span sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/teachers/edit/{teacherId}
                                    (teacherId=${teacher.teacherId})}"
                                       class="btn-floating waves-effect waves-light btn-small yellow darken-1"><i
                                            class="material-icons">edit</i>
                                    </a>
                                    </span>
                                    <span sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/teachers/delete/{teacherId}
                                (teacherId=${teacher.teacherId})}"
                                       class="btn-floating waves-effect waves-light btn-small red lighten-1"><i
                                            class="material-icons">delete_forever</i>
                                    </a>
                                    </span>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<br><br>

<footer class="page-footer teal" th:insert="fragments/footer">

</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>