<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">E Learning Platform</h5>
            <p class="grey-text text-lighten-4">Quality education platform for everyone. Learn, grow and succeed with our amazing courses.</p>
        </div>
        <div class="col l4 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="/courses">Courses</a></li>
                <li><a class="grey-text text-lighten-3" href="/discover">Discover</a></li>
                <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container right-align">
        <span>With <i class="fas fa-heart"></i> by Your Team</span>
        <a href="https://github.com" target="_blank" style="margin-left: 10px;">
            <i class="fab fa-github white-text"></i>
        </a>
    </div>
</div>